# dependencies
node_modules/

# build output
dist/
dist-ssr/

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# vercel
.vercel

# supabase cli
.branches
.temp

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/tasks.json
.idea/

# test coverage
coverage/
.claude/
